.App {
  text-align: center;


}

.Card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: thin;

  /* border-radius: 50; */
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}